:root {
    --blue: #005D93;
    --card-blue: rgba(0, 93, 147, 0.3);
    --main-text: white;
    --yellow: rgb(254, 213, 3);
    --card-yellow: rgba(254, 213, 3, 0.3);
    --secondary-text: #0e0e0e;
    --body-font: "Outfit", sans-serif;
    --header-font: "Source Sans 3", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

/* Header content */

body {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

header, footer {    
    background-color: var(--blue);
    color: var(--main-text);
}

h1, h2, h3, nav {
    font-family: var(--header-font);
}

header {
    padding: 10px 40px;
    display: flex; 
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

h1 {
    font-size: 3em;
}

h2 {
    padding: 15px;
}

/* Navigation */

#menu {
	font-size: 1.8rem;
	border: 0;
	background: none;
	color: var(--main-text);
    cursor: pointer;
    position: absolute;
    text-align: right;
	top: 20px;
    right: 30px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

nav {
    display: none;
}

.nav {
    list-style-type: none;
}

.nav a {
    display: none;
    color: var(--main-text);
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
}

.nav a:hover {
    background-color: var(--yellow);
    color: var(--secondary-text);
    transition: color 0.3s, background-color 0.3s;
    
}

nav.open {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.open a {
	display: block;
    text-align: left;
}

/* Main content */

main {
    background-color: var(--main-text);
    color: var(--secondary-text);
    font-size: 1.2em;
    font-family: var(--body-font);
    text-align: center;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0;

}

.hero .button {
    position: absolute;
    top: 55%;
    left: 12%;
    font-size: 1.2em;
    padding: 15px 30px;
}

.button{
    background-color: var(--yellow);
    color: var(--secondary-text);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    transition: color 0.3s, background-color 0.3s;
}

.button:hover, .card .button:hover {
    background-color: var(--blue);
    color: var(--main-text);
    transition: color 0.3s, background-color 0.3s;
}

.mission {
    background-color: var(--yellow);
    color: var(--secondary-text);
    padding: 20px;
    font-size: 1.2em;
    border: none;
    margin: 0 auto;
}

strong {
    color: var(--blue);
}

/* Info Cards */

.service-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card, .card .button, .contact-card, .about-card {
    color: var(--secondary-text);
    border-radius: 25px;
    border: none;
}

.card, .contact-card, .yellow {
    background-color: var(--card-yellow);
    font-size: 1.2em;
    padding: 20px;
    margin: 10px;
    width: 80%;
    height: auto;
    transition: transform 0.3s
}

.card:hover, .contact-card:hover {
    background-color: var(--yellow);
    color: var(--secondary-text);
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card p, .card .button{
    padding: 10px;
    margin-top: 10px;
}

.card .button {
    padding: 10px 20px;
    background-color: var(--main-text);
    transition: color 0.3s, background-color 0.3s;
}

/* Footer content */

footer {
    padding: 10px;
}

/* Contact Page */

.contact-main h2 {
    font-size: 1.5em;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contacts p {
    font-size: 0.7em;
}

/* Contact form */
form {
    background: var(--card-blue);
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 25px;
}

#contact-form fieldset {
    margin: 10px 0;
    padding: 10px;
    border: none;
}

input[type="radio"] {
    display:block;
    margin: 10px auto;
}

.radios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.radios label{
    text-align: center;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 7px
}

input[type="checkbox"] {
    margin-right: 7px;
}

input[type="checkbox"], input[type="radio"] {
    transform: scale(1.4);
}

.optional label::after {
    color: blue;
    content: " (Optional)";
    font-size: small;
}

.italics {
    font-style: italic;
    margin-top: -10px;
    text-align: left;
}

select, input[type="date"], input[type="text"], input[type="tel"], input[type="email"], textarea, button {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select, input[type="date"], input[type="text"], input[type="tel"], input[type="email"]
{
    height: 40px;
}

#classlist{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 7px
}

button {
    width: 96%;
    display: block;
    margin: 0 auto;
}

/* About page */

.about-cards {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.blue {
    background-color: var(--card-blue);
    width: 80%;
}

.about-card h2 {
    padding: 10px;

}

.about-card img {
    width: 75%;
    height: auto;
}

/* Larger screens */

@media screen and (min-width: 880px) {

    .service-cards, .contacts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .card  {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        width: 80%;
    }

    .about-card {
        background-color: white;
        position: relative;
    }

    .yellow {
        justify-content: left;
    }
    
    .blue {
        justify-content: right;
    }

    .about-card h4 {
        position: absolute;
        text-align: left;
        font-size: smaller;
        padding: 20px;
        border-radius: 25px;
    }

    .yellow h4 {
        background-color: var(--yellow);
        left: 30%;
        top: 20%;
    }
    
    .blue h4{
        background-color: var(--blue);
        color: var(--main-text);
        right: 30%;
        bottom: 20%;
    }
    
    .about-card {
        display: flex;
        width: 90%;
        margin: 10px;
        padding: 20px;
    }
    
    
    

}

@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } 

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 1.3em;
    }
    
    nav, .nav a {
        display: inline;
        padding: 15px;
    }

    #menu {
        display: none;
    }
}