:root {
    --text-padding: 10px;
    --box-width: 15rem;
    --heading-color: #315D80;
    --box-border: 1px solid;
    --box-background: rgb(241, 253, 241);
    --box-text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

/* Header content */
h1 {
    font-size: 2.3em;
}

h1, .boxtitle {
    color: var(--heading-color);
    padding: 16px;
    border-bottom: 1px solid var(--heading-color);
    background-color: #D0D0D0;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: var(--heading-color);
    padding: var(--text-padding);
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: transform 0.3s;
}

nav a:hover {
    text-decoration: underline;
    transform: translateY(-4px);
}

/* Main content */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main p, li{
    padding: var(--text-padding);
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    border: var(--box-border) rgba(0,0,0,0.6);
    margin: .75rem;
    background-color: var(--box-background);
    color: var(--box-text-color);
    border-radius: 15px;
}

.boxtitle{
    border-radius: 15px 15px 0 0;
    margin: 0;
}

.about img, .ok img {
    position: relative;
    height: auto;
    border: var(--box-border) var(--heading-color);
    padding: 2px;
    margin: 18px;
    box-shadow: 0 0 30px gray;
}

/* Aside content */

h3 {
    font-size: 1.3em;
    text-decoration: underline;
    margin: 10px;
}

.lists {
    list-style-type: none;
}

li {
    text-align: left;
}


/* Footer content */

footer {
    margin: 20px 0;
    padding: 20px;
    border-top: 1px dashed rgba(0,0,0,1);
    color: white;
    background-color: var(--heading-color);
}